<h1>LOG IN</h1>
... or <%= link_to 'Sign up', new_user_path %>

<%= form_tag do |f| %>
  <p>
    <%= label_tag 'Username', :username %>
    <%= text_field_tag :username %>
  </p>

  <p>
    <%= submit_tag 'Log In' %>
  </p>
<% end %>
