<h1>EVENT</h1>
<div class="event">
  <h4><%= @event.event_datetime %>, <%= @event.location %></h4>
  <p><%= @event.description %></p>
  <p>Hosted by: <%= link_to @event.hoster.name, @event.hoster %></p>
</div>

<p>
  <% if logged_in? %>
    <%= link_to 'Attend', event_attendances_path(event_id: @event.id), method: :create %>
  <% else %>
    <%= link_to 'Log in', login_path %> to attend on this event!
  <% end %>
</p>

<h1>ATTENDEES</h1>
<div>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li>
        <%= attendee.name %> (@<%= attendee.username %>)
      </li>
    <% end %>
  </ul>
</div>
