<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice"><p><%= notice %></p></div>
    <div class="alert"><p><%= alert %></p></div>

    <div>
      <ul>
        <% if logged_in? %>
          <li>Logged in as <%= link_to current_user.username, current_user %></li>
          <li><%= link_to 'Host new event', new_event_path %></li>
          <li><%= link_to 'Log out', logout_path, method: :delete %></li>
        <% else %>
          <li>Not logged in</li>
          <li><%= link_to 'Log in', login_path %> / <%= link_to 'Sign up', new_user_path %></li>
        <% end %>

        <li><%= link_to 'Events', events_path %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
